	<form action="/Usertest/update/<%=Usertest.id%>" method="POST" class="edit">
	<div class="form-group">
		<h2> editing a Usertest... </h2>
		<% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Usertest.username %>" name="username" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Usertest.email %>" name="email" type="text" class="form-control"/>
	</div>

		</div>
		<input type="submit" value="Update Usertest" class="btn btn-default"/>
		<a href="/Usertest/show/<%=Usertest.id %>" class="btn btn-danger">Cancel</a>
	</form>
